// vim: set sw=4 ts=4 noexpandtab:
doctype html
html
    head
        link(rel='stylesheet', href='basic/style.css')
        link(rel='stylesheet', href='basic/clndr.css')
        script(src='../bower_components/react/react.min.js')
        script(src='../bower_components/moment/min/moment-with-locales.min.js')
        script(src='../dist/gregory.js')
        meta(charset='utf-8')
        title Single calendar
body
    #clndr
    script(src='./single-bundle.js')
