// vim: set sw=4 ts=4 expandtab:
doctype html
html
    head
        link(rel='stylesheet', href='/layout.css')
        meta(charset='utf-8')
        title Examples
body
    ul.examples-list
        li.examples-item
            a.examples-link(href='/triple.html') Calendar with three month in view
        li.examples-item
            a.examples-link(href='/single.html') Calendar with one month in view
        li.examples-item
            a.examples-link(href='/popup.html') Calendar shows on focus in input field
        li.examples-item
            a.examples-link(href='/bower-dist.html') Build without React and Moment
