// vim: set ts=4 sw=4 expandtab:

body
    font-family: sans-serif
    font-size: 16px
    color: #444

#app
    margin-top: 50px

#calendar
    width: 692px
    margin: 50px auto

#inputs
    width: 700px
    margin: 50px auto
    position: relative

#checkin-calendar .calendar
#checkout-calendar .calendar
    position: absolute
    width: 231px
    top: 35px
    left: -4px
    background: #f5f596
    padding: 6px
    border-radius: 4px

    &:after
        content: ''
        width: 0
        heigth: 0
        border-style: solid
        border-color: transparent transparent #f5f596
        border-width: 16px
        position: absolute
        top: -32px
        left: 48%

#checkout-calendar
    .calendar
        left: 226px

    .calendar-current-date
        color: #ccc
        border-radius: 4px

.examples-list
    width: 400px
    margin: 50px auto

.examples-item
    font: 1.2em/1.2em Arial, sans-serif

.examples-link
    color: #4183c4
    text-decoration: none

    &:visited
        color:#183691

    &:hover
        text-decoration: underline
