// vim: set sw=4 ts=4 noexpandtab:
doctype html
html
    head
        link(rel='stylesheet', href='./layout.css')
        link(rel='stylesheet', href='./calendar.css')
        meta(charset='utf-8')
        title Popup calendar
body
    #inputs
        input(type='text', id='checkin' placeholder='Start date (click me)')
        input(type='text', id='checkout', placeholder='End date (click me)')
        #checkin-calendar
        #checkout-calendar
    script(src='./popup-bundle.js')
