// vim: set sw=4 ts=4 noexpandtab:
doctype html
html
    head
        link(rel='stylesheet', href='basic/style.css')
        link(rel='stylesheet', href='basic/clndr.css')
        meta(charset='utf-8')
        title Single calendar
body
    #clndr
    script(src='./single-bundle.js')
