// vim: set sw=4 ts=4 expandtab:
doctype html
html
    head
        link(rel='stylesheet', href='/layout.css')
        link(rel='stylesheet', href='/clndr.css')
        meta(charset='utf-8')
        title Single calendar
body
    #clndr
    script(src='/single-bundle.js')
