// vim: set sw=4 ts=4 noexpandtab:
doctype html
html
    head
        link(rel='stylesheet', href='./layout.css')
        link(rel='stylesheet', href='./calendar.css')
        meta(charset='utf-8')
        title Triple calendar
    body
        #calendar
        script(src='./triple-bundle.js')
